<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title></title>
</head>
<body>
<!--навигация сверху-->
    <nav class="navbar navbar-expand-xl navbar-dark text-white bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse show" id="navbarDark">
                <span class="font-weight-bold mr-2" th:text="${user.name}"/>
                 with roles:
                <span th:each="userRoles : ${user.getRoles()}">
                <span class="font-weight-bold ml-2" th:text="${userRoles.getAuthority()} "/>
                </span>
            </div>

            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-dark ml-auto">Logout</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
                <!--панель слева-->
            <div class="col-md-2  my-2 " style="height:100vh">
                    <!-- Nav tabs -->
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <div class="col-md-10 my-2 bg-light">
                <div class="tab-content mt-3" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <!--панель справа - админ-->
                        <h1>Admin panel</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#allUsers" role="tab" aria-selected="true">Users Table</a>
                                <a class="nav-item nav-link" id="nav-newUser-tab" data-toggle="tab" href="#newUser" role="tab" aria-selected="false">New User</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                                                <div class="tab-pane fade show active" id="allUsers" role="tabpanel" aria-labelledby="nav-users-tab">
                                                    <div class="card">
                                                            <div class="card-header">
                                                                <h4>All users</h4>
                                                            </div>
                                                        <div class="card-body">
                                                                    <!--таблица юзеров-->
                                                            <table class="table table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th>Id</th>
                                                                    <th>Name</th>
                                                                    <th>Surname</th>
                                                                    <th>Email</th>
                                                                    <th>Age</th>
                                                                    <th>Role</th>
                                                                    <th>Edit</th>
                                                                    <th>Delete</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody id="tableWithUsers">
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>



<!--                                             добавление нового пользователя-->
                                            <div class="tab-pane fade" id="newUser"  role="tabpanel" aria-labelledby="nav-newUser-tab">
                                                <div class="card"> <h5 class="card-header">Add new user</h5>
                                                    <div class="card-body">
                                                        <form id="createUserForm">
                                                            <div class="col-md-3 offset-md-4 text-center">

                                                                <div class="form-group">
                                                                    <span class="font-weight-bold">Name</span>
                                                                    <input type="text" class="form-control" id="newUserName" name="name">
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="font-weight-bold">Surname</span>
                                                                    <input type="text" class="form-control" id="newUserSurname" name="surname">
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="font-weight-bold">Email</span>
                                                                    <input type="email" class="form-control" id="newUserEmail" name="email">
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="font-weight-bold">Age</span>
                                                                    <input type="text" class="form-control" id="newUserAge" name="age">
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="font-weight-bold">Password</span>
                                                                    <input type="password" class="form-control" id="newUserPassword" name="password">
                                                                </div>

                                                                <div class="form-group">
                                                                    <span class="font-weight-bold">Role</span>
                                                                    <select multiple class="form-control"
                                                                            name="userRoles" size="2" id = "newUserRoles">
                                                                    </select>
                                                                </div>

                                                                <span class="font-weight-bold"></span>
                                                                <button type="submit" class="btn btn-success btn-lg" id="createUserButton">Add new user</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>


                        <!--панель справа -пользователь-->
                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <h1>User information-page</h1>
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h4>All users</h4>
                                                </div>
                                                <div class="card-body">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>Id</th>
                                                            <th>Name</th>
                                                            <th>Surname</th>
                                                            <th>Email</th>
                                                            <th>Age</th>
                                                            <th>Role</th>
                                                        </tr>
                                                        <tbody id="tableWithOneUser">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="someDefaultModal" tabindex="-1" role="dialog" aria-labelledby="someDefaultModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>

            <div class="modal-body">
            </div>

            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="webjars/jquery/3.5.1/jquery.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="webjars/popper.js/1.16.0/umd/popper.js"></script>
        <script src="webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
        <script src="/app.js"></script>
</body>
</html>
