<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Page</title>
</head>
<body>
<h3/>
<nobr>
    <a>It's user's page</a>
</nobr>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
        <td th:utext="${user.getId()}"> </td>
        <td th:utext="${user.getName()}"> </td>
        <td th:utext="${user.getSurname()}"> </td>
        <td th:utext="${user.getAge()}"> </td>
<h3/>

<br/>
</body>
</html>